.about {
    margin-bottom: 40px;
    @media (min-width: 768px) {
        padding-right: 80px;
        margin-bottom: 0;
    }

    h3, p {
        position: relative;
    }

    h3 {
        padding-bottom: 24px;
    }

    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        left: -300px;
        display: block;
        width: 100%;
        height: 65vh;
        background: url('./blob.svg') no-repeat;
    }
}    