.contact {
    min-height: 400px;
    position: relative;

    a {
        display: block;

        &:hover {
            color: #cc0e74;
        }
    }

    .contact-btn-row {
        align-items: flex-end;

        a {
            text-decoration: none;
        }

        svg {
            margin: 0 20px 0 0;
        }

        .button {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}