.contact {
    @media (max-width: 991px) {
        padding-top: 40px;
    }
    min-height: 400px;
    position: relative;

    a {
        display: block;

        &:hover {
            color: #cc0e74;
        }
    }

    .contact-btn-row {
        align-items: flex-end;

        @media (max-width: 767.98px) {
            font-size: 16px;
        }

        svg {
            margin: 0 20px 0 0;
        }
    }
}