.header {
    position: relative;
    background-color: #fff;
    min-height: 100vh;
    display: flex;

    @media (max-width: 767.98px) {
        margin-bottom: 40px;
    }

    @media (max-height: 704px) {
        .button-scroll {
            display: none;
        }
    }

    @media (max-width: 767.98px) {
        .button-scroll {
            display: none;
        }
    }

    @media (min-width: 768px) {
        .button-scroll-container {
            position: absolute;
            top: calc(100vh - 100px);
            left: calc(50vw - 20px);
    
            .button-scroll {
                position: relative;
                display: block;
                margin: 0 auto;
                border: 2px solid #cc0e74;
                width: 40px;
                height: 60px;
                border-radius: 20px;
                cursor: pointer;
            
                .circle {
                    position: absolute;
                    top: 10px;
                    left: calc(50% - 4px);
                    width: 8px;
                    height: 8px;
                    display: block;
                    background: #cc0e74;
                    border-radius: 50%;
                    animation: scroll 2s ease-in-out infinite;
                }
        
                &:hover {
                    .circle {
                        animation: scroll-hover 2s infinite;
                    }
                }
            
                @keyframes scroll {
                    0%      { opacity: 0; }
                    40%     { opacity: 1;}
                    90%     { transform: translateY(12px); opacity: 0; }
                    100%    { opacity: 0; }
                }
        
                @keyframes scroll-hover {
                    0%      { transform: translateY(0); }
                    50%     { transform: translateY(12px);}
                    100%    { transform: translateY(0); }
                }
            }
        }
    }


    &-container {
        display: flex;
        align-items: center;

    }

    .social-link svg {
        height: 28px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    p {
        font-size: 28px;
    }

    .intro-header {
        @media (max-width: 767.98px) {
            font-size: 46px;
            margin: 40px 0;
        }
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: #fbf4f9;
    }

}