.skill-card {
    padding: 30px 40px;
    margin: 15px 0;
    border-radius: 30px;
    border: 1px solid #e8e8e8;

    &.highlight {
        background-color: #f1f8f1;
        border: none;
    }

    h4, p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: default;
    }

    h4 {
        font-weight: 700;
    }
}