.header {
    position: relative;
    background-color: #fff;
    min-height: 100vh;
    display: flex;

    p {
        font-size: 28px;
    }

    .intro-header {
        margin-top: 25vh;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 80vh;
        background: #fbf4f9;
        border-bottom-left-radius: 40%;
        border-bottom-right-radius: 40%;
    }
}