.header {
    position: relative;
    background-color: #fff;
    min-height: 100vh;
    display: flex;

    @media (max-width: 767.98px) {
        margin-bottom: 40px;
    }

    @media (max-height: 704px) {
        .button-scroll {
            display: none;
        }
    }

    @media (max-width: 767.98px) {
        .button-scroll {
            display: none;
        }
    }

    &-container {
        margin-top: 48px;

        @media (min-width: 768px) and (min-height: 1020px) {
            margin-top: 25vh;
        }
    }

    .social-link svg {
        height: 28px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    p {
        font-size: 28px;
    }

    .intro-header {
        @media (max-width: 767.98px) {
            font-size: 46px;
            margin: 40px 0;
        }
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 80vh;
        background: #fbf4f9;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;

        @media (min-width: 768px) {
            border-bottom-left-radius: 200px;
            border-bottom-right-radius: 200px;
        }

        @media (max-height: 704px) {
            height: 100vh;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        @media (max-width: 767.98px) {
            height: 100vh;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

}