.skills {
    position: relative;

    .skill-row {
        padding: 20px 0;
    }

    .skill-section {
        margin-bottom: 80px;
        position: relative;
    }

    h4 {
        font-weight: 100;
    }
}