@font-face {
    font-family: 'Playfair';
    src: local('Playfair'), url(/fonts/playfair.tff) format('tff');
}

@font-face {
    font-family: 'merriweather';
    src: local('merriweather'), url(/fonts/merriweather.tff) format('tff');
}

h1, h2, h3, h4, h5, h6, p, a {
    color: #393b44;
}

.intro-header {
    font-family: 'merriweather', helvetica, sans-serif normal;
    letter-spacing: -4px;
    font-size: 80px;
}

h1 {
    font-size: 104px;
}

h2 {
    font-size: 60px;
}
h3 {
    font-size: 44px;
}
h4 {
    font-size: 36px;
}
p, a {
    font-size: 20px;
}

p {
    font-weight: 300;
}

a {
    position: relative;

    &:hover {
        text-decoration: none;
        color: #f2a365;

        &:after {
            content: '';
            display: block;
            position: absolute;
            animation: line .3s ease-in-out;
            animation-fill-mode: forwards;
            height: 2px;
            width: auto;
            background-color: #f2a365;
        }
    }
}

@keyframes line {
    from {width: 0;}
    to {width: 30px;}
}