@font-face {
    font-family: 'Playfair';
    src: local('Playfair'), url(/fonts/playfair.tff) format('tff');
}

h1, h2, h3, h4, h5, h6, p, a {
    color: #fff;
}

h1 {
    font-size: 104px;
    font-family: Playfair;
}
h2 {
    font-size: 60px;
}
h3 {
    font-size: 44px;
}
h4 {
    font-size: 40px;
}
p, a {
    font-size: 28px;
}

p {
    font-weight: 300;
}

a {
    position: relative;

    &:hover {
        text-decoration: none;
        color: #f2a365;

        &:after {
            content: '';
            display: block;
            position: absolute;
            animation: line .3s ease-in-out;
            animation-fill-mode: forwards;
            height: 2px;
            width: auto;
            background-color: #f2a365;
        }
    }
}

@keyframes line {
    from {width: 0;}
    to {width: 30px;}
}