@font-face {
    font-family: 'Playfair';
    src: local('Playfair'), url(/fonts/playfair.tff) format('tff');
}

@font-face {
    font-family: 'merriweather';
    src: local('merriweather'), url(/fonts/merriweather.tff) format('tff');
}

h1, h2, h3, h4, h5, h6, p, a {
    color: #393b44;
}

.intro-header {
    font-family: 'merriweather', helvetica, sans-serif normal;
    letter-spacing: -.05em;
    margin-bottom: .5em;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 44px;
}

h4 {
    font-size: 36px;
}

h5 {
    font-size: 30px;
}

h6 {
    font-size: 24px;
}

p, a {
    font-size: 20px;
}

p {
    font-weight: 300;
}